
<!-- <div class="d-md-flex justify-content-center d-none desktop-logo">
  <a href="/">
    <%- await include('@/layout/inc/logo', { _ }) %>
  </a>
</div> -->
<div id="cart-quickview">
  <!--
    `CartQuickview` should be rendered here:
    https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/CartQuickview.html
  -->
</div>